@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-blue: #10151f;
}


body {
  background: var(--background);
  margin: 0;
  padding: 0;
  width: 1920px;
  min-height: 1080px;
  font-family: 'Poppins', sans-serif;
}
