@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-blue: #10151f;
  --dark-blue-2: #3E424A;
  --orange-button: #ff4000;
  --grey-2: #E1DFE1;
  --grey: #F8F6F7;
  --iconcolor: #0F172A;
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


body {
  background: var(--background);
  margin: 0;
  padding: 0;
  width: 1920px;
  min-height: 1080px;
}
.placeholder-style::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--dark-blue-2);
}
input::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
  -webkit-appearance: none;
}